<div style="border-bottom: 1px solid #ddd;border-top: 1px solid #ddd;padding:10px 0; margin:10px 0;">
	<h5 class="heading">Дополнительные поля</h5>
	<p class="hint"></p>
	{foreach $shop_skufields_plugin.fields as $f}
	<div class="field">
		<div class="name">{$f.name|escape}</div>
		<div class="value">
			{if $f.type == 'string'}
			<input type="text" name="shop_skufields_plugin[{$shop_skufields_plugin.sku_id}][{$f.id|escape}][value]" value="{$f.values|escape}" class="long">
			{elseif $f.type == 'text'}
			<textarea name="shop_skufields_plugin[{$shop_skufields_plugin.sku_id}][{$f.id|escape}][value]">{$f.values|escape}</textarea>
			{/if}
			<input type="hidden" name="shop_skufields_plugin[{$shop_skufields_plugin.sku_id}][{$f.id|escape}][type]" value="{$f.type|escape}">
		</div>
	</div>
	{/foreach}
</div>